# Endpoint DPS homologação Campinas v3
NFSE_CAMPINAS_DPS_ENDPOINT=https://preprod-nfse.ima.sp.gov.br/notafiscal-adn-ws/api/adn/dps

# Caminho completo do local do certificado
CERTIFICATE_PATH=

#Senha do certificado
CERTIFICATE_PASSWORD=
